body {
    overflow-x: hidden;
}

main {
    width: unset;
    min-height: unset;
}

.bar {
    background-color: black;
}

#nav-action > span::before, #nav-action > span::after {
    background-color: black;
}

.container {
    width: 100%;
    height: 100%;
}

#illustration > img {
    position: absolute;
    bottom: 0.5rem;
    left: 1rem;
    z-index: -1;
}

#social {
    position: fixed;
    top: 20px;
    left: 5px;
}

a {
    color: #fff;
    text-decoration: none;
}

#social ul {
    padding: 0;
    -webkit-transform: translate(-270px, 0);
    -moz-transform: translate(-270px, 0);
    -ms-transform: translate(-270px, 0);
    -o-transform: translate(-270px, 0);
    transform: translate(-270px, 0);
}

#social ul li {
    display: block;
    margin: 5px;
    background: rgba(0, 0, 0, 0.36);
    width: 300px;
    text-align: right;
    padding: 10px;
    -webkit-border-radius: 0 30px 30px 0;
    -moz-border-radius: 0 30px 30px 0;
    border-radius: 0 30px 30px 0;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#social ul li:hover {
    -webkit-transform: translate(110px, 0);
    -moz-transform: translate(110px, 0);
    -ms-transform: translate(110px, 0);
    -o-transform: translate(110px, 0);
    transform: translate(110px, 0);
    background: rgba(255, 255, 255, 0.4);
}

#social ul li:hover a {
    color: #000;
}

#social ul li:hover i {
    color: #fff;
    background: red;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

#social ul li i {
    margin-left: 10px;
    color: #000;
    padding: 10px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    font-size: 20px;
    background: #ffffff;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
}

.header-section {
    margin-left: 5rem;
    color: #536dfe;
}

.header-section > h1 {
    margin-top: 1rem;
}

#contact-form {
    float: right;
    margin: -9rem 6rem 0 0;
}

#contact-form > form {
    padding: 1rem;
}

#contact-form > h2 {
    margin-bottom: 0 !important;
}

.ip-group {
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
}

input, textarea {
    min-height: 2rem;
    border: 1px dashed black;
    box-shadow: 5px 5px 10px gray;
    padding: 0 0.5rem;
    font-weight: 600;
    outline: none;
    font-family: inherit;
    font-size: 1rem;
}

button {
    min-height: 3rem;
    background-color: #536dfe;
    color: white;
    font-size: 1.5rem;
    border: none;
    box-shadow: 10px 10px 10px lightslategrey;
    font-family: inherit;
    cursor: pointer;
}

@media screen and (max-width: 1250px) {
    .lg-heading {
        font-size: 5rem !important;
    }
}

@media screen and (max-width: 1120px) {
    #contact-form {
        margin-top: -6rem;
    }

    img {
        width: 50%;
    }
}

@media screen and (max-width: 1000px) {
    #contact-form {
        text-align: center;
    }
}

@media screen and (max-width: 850px) {
    .container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .lg-heading {
        font-size: 3rem !important;
    }

    #contact-form {
        margin-top: -2rem;
        margin-right: auto;
    }

    textarea {
        height: 3rem;
    }

    img {
        display: none;
    }

    #social {
        top: 50px;
        display: none;
    }
}