.wrapper {
    overflow: hidden !important;
    display: flex;
}

.wrap-60 {
    width: 60%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url("./../images/background-about-min.jpg") !important;
    background-attachment: fixed;
    background-size: cover !important;
}

.wrap-60:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(5, 3, 19, 0.8);
}

.wrap-40 {
    display: block;
    width: 40%;
    min-height: 100vh;
    background: url('https://instagram.fdel1-1.fna.fbcdn.net/vp/db077e134bd1d48064a3c4eea03a10fe/5C5C2585/t51.2885-15/e35/35988228_401276220358203_1993506167040507904_n.jpg') 0 0 no-repeat;
    background-size: cover;
    background-attachment: local;
    z-index: 2;
}

.home-hover {
    transition: background 0.7s cubic-bezier(0.4, 0, 1, 1);
}

.home-hover:hover {
    background-size: cover;
    background: url('https://instagram.fdel1-1.fna.fbcdn.net/vp/c264d0d8ed19f1471a25228acbf02da4/5C4C8784/t51.2885-15/e35/19379289_1699702150325803_5042057203368853504_n.jpg') local;
}

.color-white {
    color: whitesmoke;
}

.name-section {
    padding: 0 3rem;
    margin: 2rem;
    z-index: 3;
}

.img-home {
    z-index: 3;
    display: flex;
    justify-content: center;
}

.img-home > img {
    max-height: 200px;
    max-width: 200px;
    border: 5px solid whitesmoke;
    border-radius: 50%;
    display: none;
}

#name {
    font-size: calc(20px + 5vw);
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: 0 0 0.15em #1da9cc;
    user-select: none;
    white-space: nowrap;
    filter: blur(0.007em);
    animation: shake 2.5s linear forwards;
}

#name span {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
    clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

#name::before, #name::after {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
}

#name::before {
    animation: crack1 2.5s linear forwards;
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

#name::after {
    animation: crack2 2.5s linear forwards;
    -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
    clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

h1, h2, h3 {
    font-weight: 400;
}

h1.lg-heading, h2.lg-heading, h3.lg-heading {
    font-size: 6rem;
}

h1.sm-heading, h2.sm-heading, h3.sm-heading {
    font-size: 2rem;
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
}

.txt-type > .txt {
    border-right: 0.2rem solid #777;
}

@keyframes shake {
    5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
        filter: blur(0.018em);
        transform: translateY(0.018em) rotate(0deg);
    }

    10%, 30%, 40%, 50%, 70%, 80%, 90% {
        filter: blur(0.01em);
        transform: translateY(-0.018em) rotate(0deg);
    }

    20%, 60% {
        filter: blur(0.03em);
        transform: translate(-0.018em, 0.018em) rotate(0deg);
    }

    45%, 85% {
        filter: blur(0.03em);
        transform: translate(0.018em, -0.018em) rotate(0deg);
    }

    100% {
        filter: blur(0.007em);
        transform: translate(0) rotate(-0.5deg);
    }
}

@keyframes crack1 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-51%, -48%);
    }
}

@keyframes crack2 {
    0%, 95% {
        transform: translate(-50%, -50%);
    }

    100% {
        transform: translate(-49%, -53%);
    }
}

@media screen and (max-width: 900px) {
    .img-home > img {
        display: block;
    }

    .wrap-60 {
        width: 100vw;
    }

    .name-section {
        margin-top: 0;
    }

    .wrap-40 {
        display: none;
    }
}